// $logo:yellow;
// $colorWelcome:#4c4e50ab;
$Color:#f7f4d6;

*{
    font-family: 'Wellfleet', monospace;
    letter-spacing: 0.5px;
}
nav{
   
    font-family: 'Wellfleet', monospace !important;
    font-size: 1.4rem;
    font-weight: bold;
    img{
        width: 5rem;
    }
}

.background-img{
    height: 100vh;
    background-image: url("images/c1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    div{
       
        color: white;
        position: absolute;
        top: 20rem;
    }
}
@mixin footer{
    // background-color: #8f5630;
    background-color: #333;
    color: white;
    height: 8rem;

}
#contact{
    @include footer();
    // padding: 2rem;

}
footer{
    @include contact-footer();
    

}
.sec-color{
    background-color: $Color;
    li{
    background-color: $Color;

}
}
.menu-category, #contact{
    li{
        list-style: none;
    }
}
.contact-us h1{
    font-size:3rem;
}
.contact-form {
    background-color: #eae6c0;;
    // width: 70% !important;
    padding-bottom: 2rem;
    box-shadow: 5px 2px 12px 0px #6a724e59;
    h2{
    font-size: 1.2rem;
    }
}
form{
    max-width: 500px;
    // text-align: center;
    margin: 0 auto;
}
.table {
    th,td{
        background-color: #ffc10794 !important;
    border: 1px solid black;
    }
    
  }
.cafe-team {
    div{
        img{
            box-shadow: 3px 4px 9px 0px #342700c9;
        }
    }
}
